@model User

<div class="delete-user">
    <section class="user-info">
        <h1>Confirm Deletion</h1>
        <div class="display-info">
            <h2>User Information:</h2>
            <ul>
                <li><strong>Pesel:</strong> @Model.Pesel</li>
                <li><strong>First Name:</strong> @Model.FirstName</li>
                <li><strong>Last Name:</strong> @Model.LastName</li>
                <li><strong>Email:</strong> @Model.Email</li>
                <li><strong>City:</strong> @Model.Address.City</li>
                <li><strong>Postal Code:</strong> @Model.Address.PostalCode</li>
                <li><strong>Street:</strong> @Model.Address.Street</li>
            </ul>
        </div>
    </section>
    <form method="post" asp-action="DeleteUser" asp-route-id="@Model.Id">
        <button class="button" type="submit">Delete User</button>
    </form>
</div>