@model IEnumerable<User>
@{
    var counter = 0;
}

<div class="seraching-bar">
    <a asp-controller="User" asp-action="Create">Register new User</a>
    <form asp-controller="User" asp-action="FilterUsers" method="get">
        <input name="searchedPhrase" />
        <input type="submit" />
    </form>
</div>
<div class="data">
    @if (Model.Any())
    {
        <table>
            @foreach (var user in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@user.Pesel</td>
                    <td><a asp-controller="Book" asp-action="ReturnBook" asp-route-id="@user.Id">Return Book</a></td>
                    <td><a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit User</a></td>
                    <td><a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No users found.</p>
    }
</div>
