@using BookStore.ViewModels
@model IEnumerable<Book>


<div class="searching-bar-user">
    <form asp-controller="Book" asp-action="FilterBooksUser" method="get">
        <input class="searching-input" name="searchedPhrase" placeholder="Book Title"/>
        <input class="button" type="submit" value="Search"/>
    </form>
</div>
<div class="data">
    @if (Model != null)
    {
        @foreach (var book in Model)
        {
            <article class="book">
                <header>
                    <h6>@book.Title</h6>
                    <p>@book.Publisher.FirstName @book.Publisher.LastName</p>
                </header>
                <div class="cover-image">
                    <img src="~/photo/login-photo.jpg" alt="Book Cover" />
                </div>
                <div class="actions">
                    <a class="dashboard-buttons" asp-controller="Book" asp-action="DetailBook" asp-route-id="@book.Id">View</a>
                    <a class="dashboard-buttons" asp-controller="Book" asp-action="BorrowBook" asp-route-id="@book.Id">Borrow</a>
                </div>
            </article>
        }
    }
    else
    {
        <p>There are no books in the database yet.</p>
    }
</div>
