@model User
@{
    int counter = 0;
    DateTime now = DateTime.Now;
    TimeSpan daysSinceBorrowed = new TimeSpan();
}

<div class="searching-bar-user">
    <a class="button" asp-controller="Book" asp-action="AllowBorrowBook">Let User Borrow Books Again</a>
</div>

<div class="data">
    @if (Model != null && Model.BorrowedBooks.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Book Title</th>
                    <th>Number of Borrowed Copies</th>
                    <th>Return Confirmation</th>
                    <th class="days">Days Since Borrowing</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var borrowedBook in Model.BorrowedBooks)
                {
                    counter++;
                    daysSinceBorrowed = now - (borrowedBook.DateOfBorrow ?? DateTime.MinValue);
                    string daysSinceBorrowedFormatted = daysSinceBorrowed.Days < 30
                    ? $"{daysSinceBorrowed.Days} days"
                    : "Late";
                    @if (counter % 2 == 0)
                    {
                        <tr class="active-row">
                            <td>@counter</td>
                            <td>@borrowedBook.Book.Title</td>
                            <td>@borrowedBook.NumberOfBorrowedCopies</td>
                            <td>
                                <form asp-controller="Book" asp-action="ReturnBook" asp-route-id="@borrowedBook.Id" method="post">
                                    <input class="button" type="submit" value="Confirm Return" />
                                </form>
                            </td>

                            @if (daysSinceBorrowed.Days < 30)
                            {
                                <td><p style="color: green;">@daysSinceBorrowedFormatted</p></td>
                            }
                            else
                            {
                                <td><p style="color: red;">@daysSinceBorrowedFormatted</p></td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@borrowedBook.Book.Title</td>
                            <td>@borrowedBook.NumberOfBorrowedCopies</td>
                            <td>
                                <form asp-controller="Book" asp-action="ReturnBook" asp-route-id="@borrowedBook.Id" method="post">
                                    <input class="button" type="submit" value="Confirm Return" />
                                </form>
                            </td>

                            @if (daysSinceBorrowed.Days < 30)
                            {
                                <td><p style="color: green;">@daysSinceBorrowedFormatted</p></td>
                            }
                            else
                            {
                                <td><p style="color: red;">@daysSinceBorrowedFormatted</p></td>
                            }
                        </tr>
                    
                    }
                    
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no borrowed books for this user.</p>
    }
</div>