@model Publisher

<div>
    <h1>Are u sure u wanna delete it?</h1>
    <div>
        <p>Publisher information</p>
        @Model.FirstName
        @Model.LastName
        @Model.Biography
        @Model.DateOfBrith
    </div>
</div>
<form method="post" asp-action="DeletePublisher" asp-route-id="@Model.Id">
    <button type="submit">Confirm</button>
</form>