@using BookStore.ViewModels
@model IEnumerable<Publisher>
@{
    var counter = 0;
}

<div class="searching-bar-user">
    <form asp-controller="Publisher" asp-action="FilterPublishers" method="get">
        <input class ="searching-input" name="searchedPhrase" placeholder="Publisher First Name"/>
        <input class="button" type="submit" value="Search" />
    </form>
</div>
<div class="data">
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var publisher in Model)
                {
                    counter++;
                    if (counter % 2 == 0)
                    {
                        <tr class="active-row">
                            <td>@counter</td>
                            <td>@publisher.FirstName</td>
                            <td>@publisher.LastName</td>
                            <td><a class="button" asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.Id">Edit</a></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@publisher.FirstName</td>
                            <td>@publisher.LastName</td>
                            <td><a class="button" asp-controller="Publisher" asp-action="Edit" asp-route-id="@publisher.Id">Edit</a></td>
                        </tr>
                    
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no publishers in the database yet.</p>
    }
</div>